.about-section {
    background-color: #e6e6e6;
    border-radius: 8px;
    color: #333;

    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.6em;
    }
}